<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>
<a href="/">All</a>
<a href="/?genre=adventure">Adventure</a>
<a href="/?genre=rpg">RPG</a>
<a href="/?genre=strategy">Strategy</a>
<a href="/?genre=shooter">Shooter</a>
<a href="/?genre=racing">Racing</a>

<form action="/addGame" method="post">
    <input type="text" placeholder="Game name" name="gameName"/>
    <select name="gameGenre"> <!-- select creates dropdown menu-->
        <option selected disabled>Genre</option> <!-- select disabled is equivalent to placeholder-->
        <option value="Adventure">Adventure</option> <!-- option is the various options you can offer in your dropdown menu-->
        <option value="RPG">RPG</option>
        <option value="Strategy">Strategy</option>
        <option value="Shooter">Shooter</option>
        <option value="Racing">Racing</option>
    </select>
    <select name="gamePlatform">
        <option selected disabled>Platform</option>
        <option value="PC">PC</option> <!--Creates dropdown menu-->
        <option value="PS4">PS4</option>
        <option value="Xbox One">Xbox One</option>
        <option value="Wii U">Wii U</option>
    </select>
    <input type="number" placeholder="Release Year" name="gameYear"/>
    <button type="submit">Add Game</button>
</form>

    <ol>
    {{#games}}
        <li>{{name}} - {{genre}} - {{platform}} - {{releaseYear}}</li>
    {{/games}}
    </ol>
{{/user}}
</body>
</html>